@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-red: 0, 100%, 67%;
  --orange-yellow: 39, 100%, 56%;
  --green-teal: 166, 100%, 37%;
  --cobalt-blue: 234, 85%, 45%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  body {
    background: white;
  }

  .card {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    overflow: hidden;
  }
}

img {
  display: inline;
}

h1 {
  color: hsl(241, 100%, 89%);
}

button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.result-bg {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.circle-bg {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0.1));
}

.reaction {
  background: hsla(var(--light-red), 0.1);
}

.reaction .left-block {
  color: hsl(var(--light-red));
}

.memory {
  background: hsla(var(--orange-yellow), 0.1);
  color: hsl(var(--orange-yellow));
}

.verbal {
  background: hsla(var(--green-teal), 0.1);
  color: hsl(var(--green-teal));
}

.visual {
  background: hsla(var(--cobalt-blue), 0.1);
  color: hsl(var(--cobalt-blue));
}
